{
	padding:0px;
  	margin:0px;
  	font-family:Arial, Helvetica, sans-serif;
}
h1{
	font-family:Calibri;
	color:#333;
	text-align:center;
	margin:25px auto;
}
body{
	margin: 0px;
	padding: 0px;
	background-image: url(body-bg.png);
	background-repeat: repeat;
	background-color:#C33;

}
#logo{	
display: block;
  margin-left: auto;
  margin-right: auto;
	text-align:center;	
		
}
